.links {
  margin: 0 auto;
}

.link {
  color: white;
  margin-right: 50px;
  text-decoration: none;
}

.active {
  color: white;
  margin-right: 50px;
  text-decoration: none;
  background-color: rgb(10, 10, 167);
  padding: 10px;
  border-radius: 5px;
}
